[MASTER]
disable=
    C0114, # missing-module-docstring
    C0116, # missing-function-docstring
    C0301, # line-too-long
    R0913, # too-many-arguments
    C0115, # missing-class-docstring
    C0103, # invalid-name (allows camel case, but also non-captial constants)
    R0902, # too-many-instance-attributes